
@{
    ViewData["Title"] = "СonfirmationUserDataView";
}
@model TestApp.Models.Ticket


<h1>Підтвердження купівлі квитка</h1>

<h5><span class="num">1</span>/2</h5>
@using (Html.BeginForm("ConfirmTicket", "Main", FormMethod.Post))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
     <div class="conf-data">
        <label class="form-label" for="user_last">Введіть ваше <span>Прізвище</span></label>
        <input asp-for="passenger_last" class="form-control" type="text" id="user_last" name="passenger_last">
        <span asp-validation-for="passenger_last" class="text-danger"></span>
        <br>
        <label class="form-label" for="user_first">Введіть ваше <span>Ім'я</span></label>
        <input asp-for="passenger_first" class="form-control" type="text" id="user_first" name="passenger_first">
        <span asp-validation-for="passenger_first" class="text-danger"></span>

        <br>

            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Flight.PublicID)
            @Html.HiddenFor(model => model.Flight.FID)
            @Html.HiddenFor(model => model.Flight.departure_point)
            @Html.HiddenFor(model => model.Flight.destination)
            @Html.HiddenFor(model => model.Flight.date)
            @Html.HiddenFor(model => model.Flight.dep_time)
            @Html.HiddenFor(model => model.Flight.arrival_time)
            @Html.HiddenFor(model => model.Flight.ticket_price)
            @Html.HiddenFor(model => model.Flight.sites)
            @Html.HiddenFor(model => model.Flight.sites_left)
  
     </div>
     <div class="sub">
        <input class="btn btn-success" type="submit" value="Далі">
     </div>
}
<button class="btn btn-danger" onclick="history.back()">Скасувати</button>

